body {
    background-color: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #f1f5f9;
}

.container-ui {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.rank-image {
    position: relative;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rank-image img {
    display: none; /* Inicialmente escondemos todas as imagens */
    max-width: 100%;
    height: auto;
}

.btns {
    max-width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.btn-avancar,
.btn-voltar {
    width: 200px;
    min-width: 150px;
    max-width: 200px;
    background-color: #2563eb;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0px 40px;
}

.btn-avancar:hover,
.btn-voltar:hover {
    background-color: #061c5ac2;
}

.btn-avancar:disabled,
.btn-voltar:disabled {
    background-color: #6b7280; /* Cor cinza para desabilitado */
    cursor: not-allowed;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-color: #ef4444;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 2;
}

.btn-close:hover {
    background-color: #b91c1c;
    transform: scale(1.2);
}

@media (max-width: 500px) {
    .btns {
        justify-content: center;
    }

    .btn-avancar, .btn-voltar {
        width: 100px;
        height: 40px;
    }

    .btn-close {
        width: 30px;
        height: 30px;
        font-size: 16px;
        line-height: 30px;
    }
}
