body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2c;
    color: #fff;
    margin: 0;
    overflow: hidden; /* Impede o scroll quando o inventário está aberto */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Escurecimento */
    backdrop-filter: blur(10px); /* Desfoque */
    z-index: 1; /* Certifique-se de que fica atrás do inventário */
    display: none; /* Esconde por padrão */
}

.rank-image {
    position: relative;
    z-index: 2; /* Garante que o inventário fique acima do overlay */
}

.rank-image img {
    margin: 40px 260px;
    width: 56%;
    height: auto;
}

/* Quando o inventário é aberto */
body.show-inventory .overlay {
    display: block;
}

body.show-inventory {
    overflow: hidden; /* Evita o scroll enquanto o inventário está aberto */
}
